@{
    ViewData["Title"] = "Home Page";
}

    <section class="slideshow my-4 mx-0 d-flex justify-content-center align-items-center w-100 overflow-hidden ">
        <div class="slide-show-items d-flex d-flex align-items-center gap-3">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
            <img class="item rounded-4 px-2"
                 src="https://i.pinimg.com/736x/0a/20/fc/0a20fcc7bfacc5a20151f9e791e6b0f8.jpg" alt="slide">
        </div>
    </section>

    <hr class="border border-danger border-2 opacity-100 container my-4">

    <section class="row d-flex justify-content-evenly container mx-auto mb-2">
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/0e/0f/eb/0e0febf746d99bcdbbf7c8c688b86bb7.jpg" alt="">
            </a>
        </div>
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/51/67/99/51679964424ad36d8cd3f01e391e6720.jpg" alt="">
            </a>
        </div>
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/32/c0/54/32c05405e98bf5f4e8c3a7d2e213dade.jpg" alt="">
            </a>
        </div>
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/27/e2/9a/27e29aa74fad35945aa23fdc0c54527a.jpg" alt="">
            </a>
        </div>
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/97/a4/3c/97a43cbb55493f2439b55468798a77cc.jpg" alt="">
            </a>
        </div>
        <div class="col mb-2">
            <a href="">
                <img class="rounded-4 shadow-lg mb-3 img-fluid category-main"
                     src="https://i.pinimg.com/736x/67/e9/f2/67e9f28cc9b02a92703a45a3c4c88cc9.jpg" alt="">
            </a>
        </div>
    </section>

    <section>
        <div class="row align-items-center mx-5 mb-3 d-flex justify-content-start">
            <div class="col-auto">
                <span class="text-warning fw-bold fs-4">Deal hot</span>
            </div>
            <div class="col-auto">
                <span class="text-muted">Kết thúc trong</span>
            </div>
            <div class="col-auto d-flex justify-content-center">
                <button class="btn btn-danger btn-lg px-3 text-white m-1 rounded py-1 text-center">00</button>
                <button class="btn btn-danger btn-lg px-3 text-white m-1 rounded py-1 text-center">00</button>
                <button class="btn btn-danger btn-lg px-3 text-white m-1 rounded py-1 text-center">00</button>
            </div>
        </div>

        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/00/17/63/0017631d7ed34e0a714c40feee8e479d.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="d-flex align-items-center container mb-3">
        <hr class="flex-grow-1  border-danger border-4 opacity-100">
        <h2 class="text-danger mx-3 fw-bold text-nowrap">GỢI Ý CHO BẠN</h2>
        <hr class="flex-grow-1 border-danger border-4 opacity-100">
    </div>

    <section>
        <div class="row container mx-auto mb-2">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card border-danger">
                    <a href="">
                        <img src="https://i.pinimg.com/736x/a2/c3/31/a2c33191ad5463acb80142eabcde22b8.jpg"
                             class="card-img img-fluid" alt="Chicago Skyscrapers" style="max-height: 340px; object-fit: cover;">
                    </a>
                    <div class="card-img-overlay d-flex align-items-end justify-content-center">
                        <div class="btn btn-outline-light fw-bold w-100 border-0 border-bottom">Hot trend hôm nay</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row container mx-auto mb-2">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card border-danger">
                    <a href="">
                        <img src="https://i.pinimg.com/736x/86/6c/d2/866cd2867f9f2b7e6e3594fb1b8230dd.jpg"
                             class="card-img img-fluid" alt="" style="max-height: 340px; object-fit: cover;">
                    </a>
                    <div class="card-img-overlay d-flex align-items-end justify-content-center">
                        <div class="btn btn-outline-light fw-bold w-100 border-0 border-bottom">Mọi người cũng chọn</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/34/eb/75/34eb75d5d66fc39656f322ac93bc2206.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                    </div>

                    <div class="card-body row">
                        <div class="col-4 align-items-center mt-2">
                            <img src="image/logo.png" alt="" height="70" width="70" class="rounded-circle object-fit-cover border">
                        </div>
                        <div class="col-8">
                            <h5 class="fw-bold text-truncate">Go Go Food</h5>
                            <p class="text-truncate mb-2">Quận Cái Răng, TP Cần Thơ</p>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex me-2">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex mx-2">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 mx-2 d-flex justify-content-end">
                                    <p>10 </p>
                                    <i class="fas mt-1 fa-burger ms-1 text-muted ms-1"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/34/eb/75/34eb75d5d66fc39656f322ac93bc2206.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                    </div>

                    <div class="card-body row">
                        <div class="col-4 align-items-center mt-2">
                            <img src="image/logo.png" alt="" height="70" width="70" class="rounded-circle object-fit-cover border">
                        </div>
                        <div class="col-8">
                            <h5 class="fw-bold text-truncate">Go Go Food</h5>
                            <p class="text-truncate mb-2">Quận Cái Răng, TP Cần Thơ</p>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex me-2">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex mx-2">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 mx-2 d-flex justify-content-end">
                                    <p>10 </p>
                                    <i class="fas mt-1 fa-burger ms-1 text-muted ms-1"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/34/eb/75/34eb75d5d66fc39656f322ac93bc2206.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                    </div>

                    <div class="card-body row">
                        <div class="col-4 align-items-center mt-2">
                            <img src="image/logo.png" alt="" height="70" width="70" class="rounded-circle object-fit-cover border">
                        </div>
                        <div class="col-8">
                            <h5 class="fw-bold text-truncate">Go Go Food</h5>
                            <p class="text-truncate mb-2">Quận Cái Răng, TP Cần Thơ</p>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex me-2">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex mx-2">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 mx-2 d-flex justify-content-end">
                                    <p>10 </p>
                                    <i class="fas mt-1 fa-burger ms-1 text-muted ms-1"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex align-items-center container mb-3">
        <hr class="flex-grow-1  border-danger border-4 opacity-100">
        <h2 class="text-danger mx-3 fw-bold text-nowrap">ĂN GÌ HÔM NAY</h2>
        <hr class="flex-grow-1 border-danger border-4 opacity-100">
    </div>

    <section>
        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/00/17/63/0017631d7ed34e0a714c40feee8e479d.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/00/17/63/0017631d7ed34e0a714c40feee8e479d.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="">
                            <img src="https://i.pinimg.com/736x/75/f3/9f/75f39f3ba8033ee5201532c6d54dc7cd.jpg"
                                 class="card-img-top img-food-custom" alt="Chicago Skyscrapers" />
                        </a>
                        <div class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded">-20%</div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title fw-bold text-truncate">
                            Lẩu gà lá é é é é é é é é é é é </h5>
                            <div class="price-food d-flex text-nowrap">
                                <p class="fs-5 text-danger fw-bold">250.000 đ</p>
                                <p class="text-decoration-line-through bg-secondary bg-gradient text-white mx-2 py-1 px-2">
                                    300.000 đ
                                </p>
                            </div>
                            <div class="row text-nowrap">
                                <div class="col-3 col-md-3 d-flex">
                                    <p>4.4</p>
                                    <i class="bi bi-star-fill text-danger ms-1"></i>
                                </div>
                                <div class="col-3 col-md-3 d-flex ">
                                    <p>10k </p>
                                    <i class="text-muted bi bi-cart-check-fill ms-1"></i>
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-end">
                                    <i class="bi bi-geo-alt-fill text-muted me-1"></i>
                                    <p>Cần Thơ</p>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

