<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.0.0/mdb.min.css" rel="stylesheet" />
    <!-- homestyle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.0.0/mdb.min.css" rel="stylesheet" />
    <link href="~/css/HomeStyle.css" rel="stylesheet"/>
    <link href="~/css/ChatStyle.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <div class="row w-100 align-items-center">
                    <div class="col d-flex align-items-center">
                        <div class="logo-main">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo.png" alt="logo" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center d-none d-md-block">
                        <form class="d-flex w-100">
                            <input class="form-control me-2 rounded-pill" type="search" placeholder="Search"
                                aria-label="Search">
                        </form>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <a asp-controller="Cart" asp-action="Cart" class="position-relative text-white d-none  d-lg-inline-block">
                            <i class="fas fa-cart-shopping fa-lg"></i>
                            <span
                                class="badge rounded-pill badge-notification bg-light position-absolute top-0 start-100 translate-middle text-danger">99</span>
                        </a>
                        <div class="dropdown mx-5 d-none d-lg-inline-block">
                            <button class="btn btn-danger no-hover-button dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                👤 Tài khoản
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" data-bs-toggle="modal" href="#exampleModalToggle"><i class="bi bi-person-circle"></i> Đăng nhập</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" href="#exampleModalToggle2"><i class="bi bi-person-plus-fill"></i> Đăng kí</a></li>
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile"><i class="bi bi-person-square"></i> Thông tin cá nhân</a></li>
                                <li><a class="dropdown-item" href=""><i class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
                            </ul>
                        </div>
                        
                    
                        <button class="navbar-toggler me-2 text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="bi bi-list text-white" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                role="button" aria-controls="offcanvasExample"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="w100 bg-danger align-items-center d-none d-md-block">
            <ul
                class="navbar-nav d-flex flex-row justify-content-evenly align-items-center container fw-bold text-white">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Diner" asp-action="Diner">Cửa hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Food" asp-action="Food">Món ăn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Food" asp-action="Food">Đồ uống</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Blog" asp-action="Blog">Bài viết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="SalesRegistration" asp-action="SalesRegistration">Kênh bán hàng</a>
                </li>
            </ul>
        </div>
    </header>



    <main>
        @RenderBody();
    </main>
   
   
   
    <footer class="bg-danger text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h6 class="text-uppercase mb-3">Về Chúng Tôi</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Giới thiệu</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Quy chế</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Bảo mật thông tin</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Giấy phép</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h6 class="text-uppercase mb-3">Dịch Vụ Khách Hàng</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Trợ giúp</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Giải quyết khiếu nại</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">CSKH</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h6 class="text-uppercase mb-3">Công Việc</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Hợp tác bán hàng</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Hợp tác vận chuyển</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Liên hệ công việc</a></li>
                        <li class="mb-3"><a href="#" class="text-white text-decoration-none">Quảng cáo</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <img src="~/images/logo.png" alt="Logo GO" class="img-fluid mb-3" height="70">
                    <div>
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-youtube fa-lg"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-tiktok fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="">
                    <p class="small">Toà nhà FPT Polytechnic, đường số 22, phường Thường Thạnh, quận Cái Răng, TP. Cần Thơ</p>
               
                    <ul class="list-inline small">
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Terms of Use</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Accessibility</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Sitemap</a></li>
                    </ul>
                    <p class="small">GO: mamnon02@gmail.com</p>
            </div>
        </div>
    </footer>



	<!-- menu mobile -->
	<div class="offcanvas offcanvas-start bg-danger text-white fw-bold" tabindex="-1" id="offcanvasExample"
		 aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header border-bottom m">
			<h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="Action-header d-flex justify-content-center mb-2">
				<a href="" class="text-decoration-none text-white fs-5"><i class="bi bi-person-circle"></i> Đăng nhập /</a>
				<a href="" class="text-decoration-none text-white fs-5"> <i class="bi bi-person-add"></i> Đăng ký</a>
			</div>
			<div class="d-flex justify-content-center mb-44">
				<a href="" class="text-decoration-none text-white fs-5">
					<i class="bi bi-person-square"></i> Thông tin cá
					nhân
				</a>
			</div>
			<div class="w100 d-block">
				<ul class="navbar-nav align-items-center container">
					<li class="nav-item mb-2">
						<a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link" href="#">Cửa hàng</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link disabled">Món ăn</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link active" aria-current="page" href="#">Đồ uống</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link" href="#">Về chúng tôi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link mb-2">Kênh bán hàng</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link">Giỏ hàng</a>
					</li>
				</ul>
			</div>
			<div class="logo-main d-flex justify-content-center mt-5">
				<a class="navbar-brand" href="#">
					<img src="~/images/logo.png" alt="" height="150">
				</a>
			</div>
		</div>
		<div class="offcanvas-footer border-top pt-3 m-4 d-flex justify-content-center">
			<a href="" class="text-decoration-none text-white">
				Đăng xuất <i class="bi bi-box-arrow-in-right"></i>
			</a>
		</div>
	</div>





	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/js/Address.js"></script>
    <script src="~/js/Carousel.js"></script>
    <script src="~/js/Cart.js"></script>
    <script src="~/js/ConfirmationCode.js"></script>
    <script src="~/js/DetailProduct.js"></script>
    <script src="~/js/NotificationToast.js"></script>
    <script src="~/js/Orders.js"></script>
    <script src="~/js/Profile.js"></script>
    <script src="~/js/Repassword.js"></script>
    <script src="~/js/SalesRegistration.js"></script>
    <script src="~/js/Vouchers.js"></script>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
			integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
			crossorigin="anonymous">
	</script>






	<!-- modal dang nhap -->
	<div class="modal fade " id="exampleModalToggle" aria-hidden="false" aria-labelledby="exampleModalToggleLabel"
		 tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg ">
			<div class="modal-content text-white position-relative-example"
				 style="  background: linear-gradient(to bottom, #DC143c, white);">
				<div class="modal-header border-0">
					<div type="button" class="position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal"
						 aria-label="Close">
						<i class="fs-1 bi bi-x-circle-fill"></i>
					</div>
				</div>
				<div class="modal-body">
					<div class="logo-login d-flex justify-content-center">
						<a class="navbar-brand" href="#">
							<img src="~/images/logo.png" alt="" height="170">
						</a>
					</div>
					<h1 class="d-flex fw-bold justify-content-center pb-4">
						Đăng nhập
					</h1>
					<div class="d-block justify-content-center">
						<form class="d-block mx-5">
							<input class="form-control mx-2 rounded-pill form-control-lg mb-2" type="text" id="emailHelpId"
								   placeholder="Email / Số điện thoại" aria-label="">
							<small id="emailHelpId" class="form-text text-muted mx-2 mb-2"> </small>
							<input class="form-control mx-2 rounded-pill form-control-lg mb-2" type="password" id="password"
								   placeholder="Mật khẩu" aria-label="password">
							<small id="password" class="form-text text-muted mx-2 mb-2"> </small>
							<div class="row mx-3 mb-4">
								<div class="col d-flex justify-content-start">
									<!-- Checkbox -->
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="form2Example34"
											   checked />
										<label class="form-check-label" for="form2Example34"> Ghi nhớ tôi </label>
									</div>
								</div>

								<div class="col d-flex justify-content-end">
									<!-- Simple link -->
									<a asp-controller="UserAuthentication" asp-action="ForgotPassword">Quên mật khẩu?</a>
								</div>
							</div>
							<div class="d-grid gap-2 col-6 mx-auto mb-2">
								<button class="btn btn-danger rounded-pill" type="submit">Đăng nhập</button>
							</div>
							<div class="text-center mb-4">
								<p>
									Bạn chưa có tài khoản? <a href="#" data-bs-target="#exampleModalToggle2"
													 data-bs-toggle="modal" data-bs-dismiss="modal">Đăng kí</a>
								</p>
								<p>Hoặc đăng nhập với:</p>
								<button data-mdb-ripple-init type="button"
										class="btn btn-outline-primary btn-floating mx-4 btn-lg">
									<i class="fab fa-facebook-f"></i>
								</button>

								<button data-mdb-ripple-init type="button"
										class="btn btn-outline-danger btn-floating mx-4 btn-lg">
									<i class="fab fa-google"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- modal dang ki -->
	<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
		 tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg ">
			<div class="modal-content text-white position-relative-example"
				 style="  background: linear-gradient(to bottom, #DC143c, white);">
				<div class="modal-header border-0">
					<div type="button" class="position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal"
						 aria-label="Close">
						<i class="fs-1 bi bi-x-circle-fill"></i>
					</div>
				</div>
				<div class="modal-body">
					<div class="logo-login d-flex justify-content-center">
						<a class="navbar-brand" href="#">
							<img src="~/images/logo.png" alt="" height="170">
						</a>
					</div>
					<h1 class="d-flex fw-bold justify-content-center pb-4">
						Đăng kí
					</h1>
					<div class="d-block justify-content-center">
						<form class="d-block mx-5">
							<input class="form-control mx-2 rounded-pill form-control-lg mb-2" type="text" id="emailHelpId"
								   placeholder="Email / Số điện thoại" aria-label="">
							<small id="emailHelpId" class="form-text text-muted mx-2 mb-2"> </small>

							<div class="d-grid gap-2 col-6 mx-auto mb-2">
								<button class="btn btn-danger rounded-pill" asp-controller="UserAuthentication" asp-action="AuthenticationCode" type="submit">Xác nhận</button>
							</div>
							<div class="text-center mb-4">
								<p>Bạn đã có tài khoản? <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Đăng nhập</a></p>
								<p>Hoặc đăng kí với:</p>
								<button data-mdb-ripple-init type="button" class="btn btn-outline-primary btn-floating mx-4 btn-lg">
									<i class="fab fa-facebook-f"></i>
								</button>

								<button data-mdb-ripple-init type="button" class="btn btn-outline-danger btn-floating mx-4 btn-lg">
									<i class="fab fa-google"></i>
								</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>



</body>


</html>
