@model DATN_GO.ViewModels.Authentication.ResetPasswordRequest

@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu";
    var identifier = ViewBag.Identifier as string;
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                <h4 class="text-danger text-center mb-4">Đặt Lại Mật Khẩu</h4>
                <form asp-action="ResetPassword" asp-controller="UserAuthentication" method="post">
                    <input type="hidden" name="identifier" value="@identifier" />

                    <div class="mb-4">
                        <label class="form-label" asp-for="Identifier"></label>
                        <p class="text-muted mb-0">@identifier</p>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Mật khẩu mới</label>
                        <input asp-for="Password" class="form-control form-control-lg" type="password" placeholder="Nhập mật khẩu mới" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Nhập lại mật khẩu mới" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-check-circle me-1"></i> Xác nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>